


# Si se usara Docker Compose yaml
POSTGRESS_NAME=your_user
POSTGRESS_PASSWORD=your_password
POSTGRESS_DB=e_commerceDB

# Siempre se usaran
DATABASE_URL="postgresql://your_user:your_password@localhost:5432/e_commerceDB"
PORT=3000
SECRET_TOKEN=123123

